@font-face {
  font-family: Norse;
  font-weight: bold;
  src: url("./fonts/Norse-Bold.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(235, 238, 238);
}

.container {
  display: flex;
}

#background-image {
  width: 535px;
  height: 100%;
  position: relative;
}

#title {
  background-color: rgba(0, 0, 0, 0.458);
  width: 535px;
  height: 160px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 30%;
}

#odin-logo {
  width: 130px;
  height: auto;
}

#logo-text {
  color: white;
  font-family: "Norse", "Times New Roman", Times, serif;
  font-size: 135px;
}

.error {
  color: rgb(255, 51, 51);
  font-family: sans-serif;
  font-weight: 500;
  text-transform: none;
  overflow: hidden;
  margin-top: 4px;
}

/* ------------------------------------ Right Side ----------------------------------------- */
.right-side {
  margin-top: 145px;
  width: 100vw;
}

.right-side-text {
  width: 660px;
  height: 135px;
  margin-left: 55px;
  text-wrap: wrap;
}

/* it targets second p from .right-side-text */
.right-side-text p:nth-child(2) {
  margin-top: 37px;
}

.form-container {
  /* margin-left: 55px; */
  background-color: white;
  /* border: 2px solid rgb(255, 113, 4); */
  width: 100%;
  box-shadow: 0 8px 6px -6px black;
  height: 300px;
}

.form-container h4 {
  font-size: 25px;
  font-weight: lighter;
  margin-left: 55px;
  margin-bottom: 20px;
}

.form-container .first-row-form,
.second-row-form,
.third-row-form {
  margin-left: 55px;
  display: flex;
  margin-top: 15px;
}

.label-container {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  width: 270px;
  height: 60px;
}

input {
  transition: 0.5s;
  outline: none;
}

input:focus {
  border-top: 1px solid #aeb1ab;
  border-right: 1px solid #0f73ff;
  border-bottom: 1px solid #0f73ff;
  border-left: 1px solid #0f73ff;
  /* box-shadow: 2px 5px #0f73ff; */
  box-shadow: 0 8px 8px -4px #0f73ff;
}

button {
  color: white;
  font-size: 20px;
  border-radius: 10px;
  width: 235px;
  height: 55px;
  background-color: #596d48;
  margin-top: 35px;
  margin-left: 55px;
}

.bottom-right-side p {
  margin-top: 30px;
  margin-left: 55px;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 133, 165);
  }

  .form-container {
    margin-left: 65px;
    width: 85%;
    display: flex;
    flex-direction: column;
  }

}
