@font-face {
  font-family: Norse;
  font-weight: bold;
  src: url("./fonts/Norse-Bold.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(235, 238, 238);
}

.container {
  display: flex;
}

#background-image {
  width: 535px;
  height: 100%;
  position: relative;
}

#title {
  background-color: rgba(0, 0, 0, 0.458);
  width: 535px;
  height: 160px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 30%;
}

#odin-logo {
  width: 130px;
  height: auto;
}

#logo-text {
  color: white;
  font-family: "Norse", "Times New Roman", Times, serif;
  font-size: 135px;
}

/* ------------------------------------ Right Side ----------------------------------------- */
.right-side {
  margin-top: 145px;
}

.right-side-text {
  width: 660px;
  height: 135px;
  margin-left: 55px;
}

/* it targets second p from .right-side-text */
.right-side-text p:nth-child(2) {
  margin-top: 37px;
}

.form-container {
  margin-left: 55px;
  background-color: white;
  border: 2px solid rebeccapurple;
  box-shadow: 0 8px 6px -6px black;
  height: 300px;
}

.form-container h4{
  margin-top: 20px;
}

.form-container .first-row-form, .second-row-form, .third-row-form{
  display: flex;
  margin-top: 20px;

}
